* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body {
    background: #8bc6ec; 
    background-image: url('https://images.pexels.com/photos/925743/pexels-photo-925743.jpeg?auto=compress&cs=tinysrgb&w=600');
    min-width: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: background 0.5s ease;
}
body:hover{
    background-image:url('https://images.pexels.com/photos/5412429/pexels-photo-5412429.jpeg?auto=compress&cs=tinysrgb&w=600') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    background: #0a0b0a;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
}
h1{
    color:#000;
    margin-bottom:20px ;
    font-family:Algerian;
}
.calc-input {
    margin-bottom: 20px;
    padding-left: 5px;
}
.calc-input p {
    width: 100%;
    font-size: 3.5rem;
    text-align: end;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    word-wrap: break-word;
    word-break: break-all;
}
button {
    background: #000;
    color: rgb(196, 204, 255); 
    font-size: 1.5rem;
    border: none;
    border-radius: 70%;
    cursor: pointer;
    height: 65px;
    width: 65px;
}
button:hover {
    font-size: 2.0rem;
    color: rgb(200, 255, 0);
}
button:active,
button:focus {
    filter: brightness(120%);
}
.calc-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 10px;
}
.key-zero {
    grid-column: span 2;  
    width: 100%;
    border-radius: 30px;
}
.operations {
    background: #f05a0f;
}
.otherkeys {
    background: brown;
    color: #000;
}
